<!-- start search form -->
<div
  class="w-[80%] mx-auto my-5 py-3 px-5 border border-[#f5f3ff] rounded-xl inset-shadow-xs"
>
  <!-- category list -->
  <ul
    class="peer flex flex-wrap justify-center items-center gap-5"
    id="cat-search"
    category="hotel"
  >
    <li
      class="cursor-pointer p-2 rounded-lg data-selected:bg-[#f5f3ff] data-selected:text-[#7c3aed]"
      data-selected="true"
      category="hotel"
    >
      <i class="fa-solid fa-hotel"></i>
      <span class="mx-1">Hotel</span>
    </li>
    <li
      class="cursor-pointer p-2 rounded-lg data-selected:bg-[#f5f3ff] data-selected:text-[#7c3aed]"
      category="flight"
    >
      <i class="fa-solid fa-plane-up"></i>
      <span class="mx-1">Flight</span>
    </li>
    <li
      class="cursor-pointer p-2 rounded-lg data-selected:bg-[#f5f3ff] data-selected:text-[#7c3aed]"
      category="tour"
    >
      <i class="fa-solid fa-earth-americas"></i>
      <span class="mx-1">Tour</span>
    </li>
    <li
      class="cursor-pointer p-2 rounded-lg data-selected:bg-[#f5f3ff] data-selected:text-[#7c3aed]"
      category="car"
    >
      <i class="fa-solid fa-car"></i>
      <span class="mx-1">Car</span>
    </li>
  </ul>
  <!-- hotel form -->
  <form action="" class="hidden peer-[&[category=hotel]]:block">
    <div class="flex flex-wrap justify-center items-center gap-2 p-5">
      <div class="w-64 flex flex-wrap">
        <label for="room">guest</label>
        <input
          type="text"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="roomtype"
          placeholder="2 Adults 4 Childs 2 Rooms"
          id="room"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="check-in">check-in</label>
        <input
          type="date"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="indate"
          placeholder="Select check-in date"
          id="check-in"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="check-out">check-out</label>
        <input
          type="date"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="outdate"
          placeholder="select check-out date"
          id="check-out"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="dest">destination</label>
        <input
          type="text"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="dest"
          placeholder="Destination"
          id="dest"
        />
      </div>
    </div>
    <div class="text-center">
      <button class="bg-[#7c3aed] text-white p-3 rounded-lg cursor-pointer">
        <span>search</span>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </form>
  <!-- flight form -->
  <form action="" class="hidden peer-[&[category=flight]]:block">
    <div class="flex flex-wrap justify-center items-center gap-2 p-5">
      <div class="w-64 flex flex-wrap">
        <label for="from">from</label>
        <input
          type="text"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="from"
          placeholder="from"
          id="from"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="to">to</label>
        <input
          type="text"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="to"
          placeholder="to"
          id="to"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="depart">departure</label>
        <input
          type="date"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="depart"
          placeholder="departure"
          id="depart"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="return">return</label>
        <input
          type="date"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="return"
          placeholder="return"
          id="return"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="travelers">travelers</label>
        <input
          type="number"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="travelers"
          placeholder="4 travelers"
          id="travelers"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="class">class</label>
        <input
          type="text"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="class"
          placeholder="class"
          id="class"
        />
      </div>
    </div>
    <div class="text-center">
      <button class="bg-[#7c3aed] text-white p-3 rounded-lg cursor-pointer">
        <span>search</span>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </form>
  <!-- tour form -->
  <form action="" class="hidden peer-[&[category=tour]]:block">
    <div class="flex flex-wrap justify-center items-center gap-2 p-5">
      <div class="w-64 flex flex-wrap">
        <label for="dest">destination</label>
        <input
          type="text"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="dest"
          placeholder="destination"
          id="dest"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="persons">persons</label>
        <input
          type="number"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="persons"
          placeholder="4 persons"
          id="persons"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="date">date</label>
        <input
          type="date"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="date"
          placeholder="Select date"
          id="date"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="duration">duration</label>
        <input
          type="number"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="duration"
          placeholder="4 days"
          id="duration"
        />
      </div>
    </div>
    <div class="text-center">
      <button class="bg-[#7c3aed] text-white p-3 rounded-lg cursor-pointer">
        <span>search</span>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </form>
  <!-- car form -->
  <form action="" class="hidden peer-[&[category=car]]:block">
    <div class="flex flex-wrap justify-center items-center gap-2 p-5">
      <div class="w-64 flex flex-wrap">
        <label for="pickup-location">pickup-location</label>
        <input
          type="text"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="pickup-location"
          placeholder="pickup-location"
          id="pickup-location"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="dropoff-location">dropoff-location</label>
        <input
          type="text"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="dropoff-location"
          placeholder="dropoff-location"
          id="dropoff-location"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="pickup-date">pickup-date</label>
        <input
          type="date"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="pickup-date"
          placeholder="pickup-date"
          id="pickup-date"
        />
      </div>
      <div class="w-64 flex flex-wrap">
        <label for="dropoff-date">dropoff-date</label>
        <input
          type="date"
          class="w-full border border-[#7c3aed] bg-[#f5f3ff] rounded-lg my-3 p-1"
          name="dropoff-date"
          placeholder="dropoff-date"
          id="dropoff-date"
        />
      </div>
    </div>
    <div class="text-center">
      <button class="bg-[#7c3aed] text-white p-3 rounded-lg cursor-pointer">
        <span>search</span>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </form>
</div>
<!-- end search form -->
