<div class="w-80 h-96 rounded-4xl border border-[#e5e7eb]">
  <div
    class="h-[80%] rounded-t-4xl bg-[url(/assets/images/dest.webp)] bg-no-repeat bg-cover"
  ></div>
  <div class="py-1 px-3 text-black flex justify-between items-center">
    <p>Rome, Italy</p>
    <p>&dollar;83000</p>
  </div>
  <p class="border-t border-[#e5e7eb] px-3 text-black">4 days Trip</p>
</div>
<div class="w-80 h-96 rounded-4xl border border-[#e5e7eb]">
  <div
    class="h-[80%] rounded-t-4xl bg-[url(/assets/images/dest.webp)] bg-no-repeat bg-cover"
  ></div>
  <div class="py-1 px-3 text-black flex justify-between items-center">
    <p>Rome, Italy</p>
    <p>&dollar;83000</p>
  </div>
  <p class="border-t border-[#e5e7eb] px-3 text-black">4 days Trip</p>
</div>
<div class="w-80 h-96 rounded-4xl border border-[#e5e7eb]">
  <div
    class="h-[80%] rounded-t-4xl bg-[url(/assets/images/dest.webp)] bg-no-repeat bg-cover"
  ></div>
  <div class="py-1 px-3 text-black flex justify-between items-center">
    <p>Rome, Italy</p>
    <p>&dollar;83000</p>
  </div>
  <p class="border-t border-[#e5e7eb] px-3 text-black">4 days Trip</p>
</div>
