<div class="w-[350px] bg-white shadow-md rounded-4xl p-10 mt-10">
  <p class="text-[20px] font-bold"><sup>&dollar;</sup>99<sub>/mo</sub></p>
  <div class="flex items-center justify-between my-5">
    <div
      class="w-[55%] h-[80px] bg-[url(assets/images/price-1.webp)] bg-no-repeat bg-cover rounded-full"
    ></div>
    <div
      class="w-[40%] h-[80px] bg-[url(assets/images/price-2.webp)] bg-no-repeat bg-cover rounded-full"
    ></div>
  </div>
  <h3 class="text-[30px] font-bold">Turkey Tour</h3>
  <p class="my-5">
    We don't just work with concrete and steel, We are Approachable,
  </p>
  <hr />
  <ul>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
  </ul>
  <button
    class="w-full cursor-pointer bg-black text-white p-3 mt-5 border-none rounded-full"
  >
    Get Started
  </button>
</div>
<div class="w-[350px] bg-white shadow-md rounded-4xl p-10 mt-10">
  <p class="text-[20px] font-bold"><sup>&dollar;</sup>99<sub>/mo</sub></p>
  <div class="flex items-center justify-between my-5">
    <div
      class="w-[55%] h-[80px] bg-[url(assets/images/price-1.webp)] bg-no-repeat bg-cover rounded-full"
    ></div>
    <div
      class="w-[40%] h-[80px] bg-[url(assets/images/price-2.webp)] bg-no-repeat bg-cover rounded-full"
    ></div>
  </div>
  <h3 class="text-[30px] font-bold">Turkey Tour</h3>
  <p class="my-5">
    We don't just work with concrete and steel, We are Approachable,
  </p>
  <hr />
  <ul>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
  </ul>
  <button
    class="w-full cursor-pointer bg-black text-white p-3 mt-5 border-none rounded-full"
  >
    Get Started
  </button>
</div>
<div class="w-[350px] bg-white shadow-md rounded-4xl p-10 mt-10">
  <p class="text-[20px] font-bold"><sup>&dollar;</sup>99<sub>/mo</sub></p>
  <div class="flex items-center justify-between my-5">
    <div
      class="w-[55%] h-[80px] bg-[url(assets/images/price-1.webp)] bg-no-repeat bg-cover rounded-full"
    ></div>
    <div
      class="w-[40%] h-[80px] bg-[url(assets/images/price-2.webp)] bg-no-repeat bg-cover rounded-full"
    ></div>
  </div>
  <h3 class="text-[30px] font-bold">Turkey Tour</h3>
  <p class="my-5">
    We don't just work with concrete and steel, We are Approachable,
  </p>
  <hr />
  <ul>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
    <li class="py-2 my-3">
      <i class="fa-solid fa-circle-check text-[#7c3aed]"></i>
      <span class="mx-1">Generation Technology</span>
    </li>
  </ul>
  <button
    class="w-full cursor-pointer bg-black text-white p-3 mt-5 border-none rounded-full"
  >
    Get Started
  </button>
</div>
