<div class="w-[450px] shadow-md rounded-2xl">
  <div
    class="w-full h-[250px] bg-[url(/assets/images/room1.webp)] bg-no-repeat bg-cover rounded-t-2xl"
  ></div>
  <div class="py-1 px-2">
    <h3 class="text-[25px] font-semibold">Single Room</h3>
    <p class="text-[#9ca3af]">
      <i class="fa-solid fa-location-dot"></i>
      <span class="mx-1">123 Kathal St, Tampa City</span>
    </p>
    <div class="mt-5 text-[#9ca3af]">
      <div class="flex justify-between items-center">
        <p>
          <i class="fa-solid fa-bed"></i>
          <span class="mx-1">4 Bed</span>
        </p>
        <p>
          <i class="fa-solid fa-square-parking"></i>
          <span class="mx-1">Parking</span>
        </p>
        <p>
          <i class="fa-solid fa-mug-hot"></i>
          <span class="mx-1">Breakfast</span>
        </p>
      </div>
      <div class="flex justify-between items-center">
        <p>
          <i class="fa-solid fa-bolt-lightning"></i>
          <span class="mx-1">AC</span>
        </p>
        <p>
          <i class="fa-solid fa-wifi"></i>
          <span class="mx-1">Free WiFi</span>
        </p>
        <p>
          <i class="fa-solid fa-jug-detergent"></i>
          <span class="mx-1">Laundry</span>
        </p>
      </div>
    </div>
  </div>
</div>
